top page
<%= link_to "new", new_body_info_path  %>
  <table border= "1"> 
    <tr>
      <th><p>日付</p></th>
      <th><P class="weight">体重</P></th>
      <th><P class="weight">BMI</P></th>
      <th><P>体脂肪率</P></th>
      <th><P>内臓脂肪</P></th>
    </tr>
    <% @body_infos.each do |b|%>
    <tr>
      <td><%= b.day %></td>
      <td><%= b.weight %></td>
      <td><%= b.bmi %></td>
      <td><%= b.body_fat %></td>
      <td><%= b.visceral_fat %></td>
    </tr>
    <% end %>
    
  </table>
